<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" content-type="text/css" href="/css/style.css">
    <title>Index</title>
</head>

<body>
<div id="container2">

    <h2>Edit</h2>

    <% if(messages.errs) { %>
        <% for (let err of messages.errs) { %>
                <%= err %><br>
        <% } %>
    <% } %>

    <table>
        <form action="/edit" method="POST">
            
            <input class='hide' name="id" type='text' value=<%=obj._id%> />
        
        <tr>
            <td>Name: </td>
            <td><select id="name" name="name">
                <option value="tiger">Tiger</option>
                <option value="whale">Whale</option>
                <option value="butterfly">Butter Fly</option>
                <option value="crab">Crab</option>
                <option value="horse">Horse</option>
                <option value="puma">Puma</option>
                <option value="rabbit">Rabbit</option>
                <option value="zebra">Zebra</option>
            </select></td>
        </tr>

        <tr>
            <td>Intro:</td>
            <td><textarea name="intro" rows="3" cols="40"><%=obj.intro%></textarea></td>
        </tr>

        <tr>
            <td></td>
            <td><button type="submit">Update</button></td>
        </tr>

        </form>

        <tr>
            <td></td>
            <td><a href="/index"><button>Index</button></a> </td>
        </tr>
        
        <tr>
            <td></td> 
            <td><a href="/delete/<%=obj._id%>"><button>Delete</button></a></td>
        </tr>        
    
    </table>   

</div>

    <script>
        $(document).ready(function(){
            $("#name option[value=<%=obj.name%>]").attr("selected", "selected");
        });
    </script>

</body>

</html>